/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock

Modules/Inventory/
Modules/AdditionalServices/
Modules/Housekeeping/
modules_statuses.json
*.zip
public/storage/
composer.lock
